# Python virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build
dist/
build/

# Vercel
.vercel/

# Frontend & Backend part
backend/db.sqlite3
frontend/.env